<div class="cardhorizontal">
  <md-card ng-repeat="cardContent in cardContents" class="cardfonttheme" ng-class="{ 'carddelete': $index == selectedIndex }"">
    <div layout = "row" layout-sm = "column">
      <div layout="column" layout-xs="column">
        <div layout="row" layout-xs="column">
          <div class="cardfontsize">
            <select class="carddropdown" ng-model="cardContent.currencyId" ng-options="currency.id as currency.name for currency in cardContent.currency"></select>
          </div>
          <div class = "cardname">{{cardContent.name}}</div>
          <a href="" class="cardfloatright" ng-click="openTradeWidget($index)">
            <md-icon class="glyphicon glyphicon-info-sign cardicontheme"></md-icon>
          </a>
          <a href="" class="cardfloatright" ng-click="itemClicked($index)">
            <md-icon class="glyphicon glyphicon-remove cardicontheme"></md-icon>
          </a>
        </div>
        <div layout = "row" layout-xs = "column">
          <span class="cardbidcolumn">
            <div flex="30" class="cardbidrow">
                <div><b>SELL</b></div>
                <div class="smallint">{{cardContent.sellVal1}}</div>
            </div>
            <div class="bigint">
                {{cardContent.sellVal2}}
            </div>
            <!--<div class="smallint">-->
                <!--{{cardContent.sellVal3}}-->
            <!--</div>-->
          </span>
          <span class="cardbidcolumn">
            <div flex="30" class="cardbidrow">
              <div><b>BUY</b></div>
              <div class="smallint">{{cardContent.buyVal1}}</div>
            </div>
            <div class="bigint">
              <div>{{cardContent.buyVal2}}</div>
            </div>
          </span>
    </div>
        <div layout= "row" layout-xs = "column">
          <label class = "cardfooterlabel">Vol : </label>
          <input type="text" class="cardfooterText" value="1000000">
          <md-icon class="glyphicon glyphicon-stats cardicontheme cardfloatright" ng-click = "openChartWidget($index)"" ></md-icon>
        </div>
      </div>
    </div>
  </md-card>
</div>
